Package: postgresql-{{postgresql_version}}
Pin: version {{postgresql_version}}*
Pin-Priority: 1002

Package: postgresql-contrib-{{postgresql_version}}
Pin: version {{postgresql_version}}*
Pin-Priority: 1002
